<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0 , minimum-scale=1.0">
<title>Login Page</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>

<div class="container-fluid text-center">

<div>
	<img th:src="@{'/images/ShopmeAdminSmall.png'}"/>
</div>

<form th:action = "@{'/login'}" method = "post"  style="max-width:350px; margin: 0 auto">
	
	<div th:if="${param.error}">
		<p class = "text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
	</div>
	<div th:if="${param.logout}" class="mb-2">
		<span class = "text-warning" >You have been logout successfully !!</span>
	</div>
	
	<div class = "border  border-secondary rounded p-3">
		<p>Access to Shopme Control Panel 
		<p>
			<input type  = "email" name= "email" class = "form-control" placeholder = "Enter email" required />
		</p>
		<p>
			<input type  = "password" name= "password" class = "form-control" placeholder = "Enter password" required />
		</p>
		<p>

				<input type="checkbox" name = "rememberme"/>&nbsp;Remember me
		</p>

		<p>
			<input type="submit" class = "btn btn-primary" value="login"/>
		</p>
		
	</div>
</form>
<div>
	<h1>Shopme Control Panel</h1>
</div>

<div>
	<p>Shopme Control Panel - Copyright &copy; Shopme</p>
</div>
		
</div>
		
</body>
</html>